.PlayBackRatePanel, .PlayBackRatePanelFullScreen {
    display: inline;
    position: absolute;
    left: 50%;
    transform: translateX(-50%); 
    color: #CFCFCF;
    z-Index: 999999;
}

.PlayBackRatePanel {
    top: 60px;
}

.PlayBackRatePanelFullScreen {
    top: 100px;
}

.PlayBackRateTooltip {
    position: relative;
    vertical-align: middle;
    text-align: center;
    font-size: 18px;
    width: 82px;
    height: 46px;
    background: rgba(0, 0, 0, 0.5);
    color: #ffffffdd;
    line-height: 20px;
    border-radius: 3px;
    border-style: none;
    padding: 0px;
}